#wrapper {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #f8f8f8;
    margin-top: 10px;
}

#wrapper > nav > div > div > a {
    margin-left: 10px;
}

#editor-error-message, #editor-error-message-bio {
    color: red;
}

#removeBookOk {
    display: none;
}
